{% extends "base.twig" %}
{% set pageTitle = 'Page not found' %}
{% set pageDescription = entry.seoDescription ? entry.seoDescription : entry.title %}

{% block content %}
<div class="m-body">
    <div class="pb-10">
        <div class="container">
            <div class="site-heading">
                <h1>Page not found</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}