{% set e_class = '' %}
{% if extraclass is defined %}
    {% set e_class = extraclass %}
{% endif %}

<div class="pt-10 pb-10 {{e_class}}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="cb">
                    <h2 class="heading">As a commercial customer, your dedicated account manager is there to take every call.</h2>
                    <h3 class="">Request a callback</h3>
                    {% set formId = 'Bottom form Type 2' %}
                    <form method="post" id="requestCallbackBottomForm" class="requestcb ajaxForm" action="" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        <input type="hidden" name="message[formName]" value="{{formId}}">
                        <input type="hidden" name="action" value="contact-form/send">
                        <input name="fromName" type="text" placeholder="Your Name">
                        <input name="message[Phone]" type="text" placeholder="Phone Number">
                        <input name="fromEmail" type="text" placeholder="Email">
                        <div class="success">Submission successful</div>
                        <div class="fail">Submission failed</div>
                        <button type="submit" class=" outline-btn green">Request a Call Back</button>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-4 offset-lg-1">
                <div class="info-card">
                    <div class="info">
                        <div class="icon" style="background-image: url(images/lady.svg)"></div>
                        <h3>5 days a week</h3>
                    </div>
                    <div class="info">
                        <div class="icon" style="background-image: url(images/clock.svg)"></div>
                        <h3>8am to 5.30pm</h3>
                    </div>
                    <div class="info">
                        <div class="icon" style="background-image: url(images/van.svg)"></div>
                        <h3>After hours support extra</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
