<div class="pt-10 pb-10 form">
    <div class="sm-container">
        <h2 class="big-heading black">Arrange your Free Professional
                                                                        Assessment and Quote</h2>
        <div class="tab-bg">
            <div class="tabs">
                <label class="radio-container">Get a Quote
                    <input type="radio" checked="checked" rel="tab1" name="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="radio-container">Request a callback
                    <input type="radio" rel="tab2" name="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <form class="quote-form">
                        <input type="text" placeholder="Your Name">
                        <div class="input-row">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Phone Number">
                        </div>
                        <div class="input-row">
                            <input type="text" placeholder="Property Address">
                            <input type="text" placeholder="Services you require">
                        </div>
                        <button type="submit" class=" outline-btn green">Submit</button>
                    </form>
                </div>
                <div id="tab2" class="tab_content">
                    <form class="callback-form">
                        <div class="input-row">
                            <input type="text" placeholder="Your Name">
                            <input type="text" placeholder="Phone Number">
                        </div>
                        <div class="input-row">
                            <input type="text" placeholder="Property Address">
                            <input type="text" placeholder="Services you require">
                        </div>
                        <button type="submit" class=" outline-btn green">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
