<div class="ratings-container flex-small">
    <div class="rating" style="background-image: url(images/google-ratings.svg)"></div>
    <div class="rating" style="background-image: url(images/nocowboys-ratings.svg)"></div>
</div>
