<div class="relative-maxwidth">
    <div class="tab-card">
        <h2>Free Quote</h2>
        <div class="tform">
            <label class="radio-container">Get a Quote
                <input type="radio" checked="checked" rel="tab3" name="tform">
                <span class="checkmark"></span>
            </label>
            <label class="radio-container">Request a callback
                <input type="radio" rel="tab4" name="tform">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="tform_container">
            <div id="tab3" class="tform_content">
                <form class="quote-form">
                    <input type="text" placeholder="Your Name">
                    <input type="text" placeholder="Your Email">
                    <input type="text" placeholder="Your Phone Number">
                    <input type="text" placeholder="Property Address">
                    <textarea placeholder="Additional Info" rows="1"></textarea>
                    <button type="submit" class="green-btn">Submit</button>
                </form>
            </div>
            <div id="tab4" class="tform_content">
                <form class="callback-form">
                    <input type="text" placeholder="Your Name">
                    <input type="text" placeholder="Phone Number">
                    <input type="text" placeholder="Property Address">
                    <input type="text" placeholder="Services you require">
                    <button type="submit" class="green-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
